h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:hotpink;
  text-align: center;
  
}
p{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:mediumvioletred
}

img{
  max-width: 30px;
  max-height: 30px;
}